@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

:root {
  --primary-orange: hsl(25, 97%, 53%);
  --neutral-white: hsl(0, 0%, 100%);
  --neutral-light-grey: hsl(217, 12%, 63%);
  --neutral-medium-grey: hsl(216, 12%, 54%);
  --neutral-dark-blue: hsl(213, 19%, 18%);
  --neutral-very-dark-blue: hsl(216, 12%, 8%);

  --ff-main: 'Overpass', sans-serif;
  --fw-normal: 400;
  --fw-bold: 700;
}

body {
  font-family: var(--ff-main);
  background-color: var(--neutral-very-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.rating__container, 
.thanks__container {
  background-image: linear-gradient(
    to bottom, var(--neutral-dark-blue), var(--neutral-very-dark-blue));
  padding: 2rem;
  border-radius: 1.25rem;
  max-width: 425px;
}

h1, h2 {
  color: var(--neutral-white);
}

p {
  color: var(--neutral-light-grey);
}

.btn {
  background-color: var(--neutral-dark-blue);
  outline: none;
  border-radius: 50%;
  border: none;
  padding-top: .25rem;
  transition: .3s;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--neutral-light-grey);
}

.btn:focus {
  background-color: var(--primary-orange);
}

.submit-btn {
  background-color: var(--primary-orange);
  padding: 0.625rem 2rem 0.5rem;
  width: 100%;
  border: none;
  border-radius: 30px;
  color: var(--neutral-white);
  margin-top: 2rem;
  transition: 0.3s;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.submit-btn:hover {
  background-color: white;
  color: var(--primary-orange);
}

.rating__container img {
  padding: .75rem;
  border-radius: 50%;
  background-color: hsl(213, 19%, 18%);
  margin-bottom: 2rem;
}

.rating__container h1,
.thanks__container h2 {
  margin-bottom: 1rem;
}

.rating__container p,
.thanks__container p {
  margin-bottom: 1rem;
}

.rating__container ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.thanks__container {
  text-align: center;
}

.thanks__container.hidden {
  display: none;
}

.thanks__container h2 {
  margin-top: 2rem;
}

.thanks__container img {
  display: block;
  margin: 0 auto 1rem;
}

p.gray {
  display: inline-block;
  background-color: hsl(213, 19%, 18%);
  color: hsl(25, 97%, 53%);
  padding: 0.3rem 1rem 0;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attribution {
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin-top: 2rem;
}

.attribution a {
  color: hsl(228, 47%, 61%);
}

